/* Jumotron */
.jumbotron {
	background-image: url('../images/lion_jumbotron.jpg');
	color: gray;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Body */ 
body {
	background-image: url('../images/norwegian_rose.png');
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
	max-width: 800px;
	margin-top: 120px;
	margin-bottom: 120px;
}

.content-wrapper {
	border: solid;
	border-width: 1px;
}

.img {
	max-width: 200px !important;
	max-height: 200px !important;
	margin: 10px auto;
}

li {
	align-content: center !important;
	margin: 10px;
}

ul.list-group {
	list-style-type: none;
	text-align: center;
	margin: 10px 10px 10px;
}